$fresh: #4ABDAC;
$naranja: #FC4A1A;
$amarillo: #F7B733;
$gris1: #DEDCE3;
$gris2: #A5A5AF;
$blanco: #fff;
$sombra: rgba(#000, .3);
$bg-gradiente: linear-gradient(to left bottom, $fresh 0%, $gris1 100%);